<div class="w-screen h-screen flex justify-center items-center bg-sky-400">

  <div class="w-50% h-50% bg-white rounded-md flex justify-center">
    <form [formGroup]="credencialesForm" class="flex flex-col justify-center items-center" action="">
      <h2>Login</h2>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput placeholder="correo">

      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="password" type="email" matInput placeholder="contraseña">

      </mat-form-field>

      <button mat-raised-button color="primary" (click)="entrar()" mat-button>Iniciar sesión</button>
      <br>
    </form>


  </div>



</div>